<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>

<body>
    <div>
        <h1 class="titulos">
            Nos vemos, vuelva pronto.
        </h1>
    </div>
    <script>
        setTimeout(() => {
            location.href = '/'
        }, 2000)
    </script>
    
</body>

</html>