<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No existe</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>

<body class="container-noexiste">
    <div>
        <h1 class="titulos">
            Esta pagina no existe
        </h1>
        <button class="boton-msj">
            <a href="/">Volver al home</a>
        </button>
        <img src="https://i.postimg.cc/ZYVGgB9P/notfound.jpg">

    </div>
    
</body>

</html>