<head>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>

<header class="header">
    <nav class="nav">
        <div>
            <a href="/" class="nav-logo">Ecommerce</a>
        </div>
        <div>
            <a href="/"  class="nav-item">Productos</a>
            <a href="/carrito" class="nav-item">Carrito</a>"
            <a href="/chat" class="nav-item">Chat</a>
            <a href="/perfil" class="nav-item">Perfil</a>
            <a href="/logout" class="nav-item">Logout</a>
        </div>
    </nav>
</header>